# STM32CubeIDE/Keil Build Output Folders
Debug/
Release/
build/

# Executables and Binaries
**/*.o
**/*.elf
**/*.bin
**/*.hex

# IDE-specific files (might contain local path info)
.metadata/
.history/
.vscode/

# STM32CubeIDE Specific
.mxproject